<div class="sidebar-inner scrollable-sidebar">
    <div class="sidebar-header clearfix">
        <input class="form-control dark-input" placeholder="Search" method="text">
        <div class="btn-name pull-right">
            <a href="#" class="sidebar-setting" data-toggle="dropdown"><i class="fa fa-cog fa-lg"></i></a>
            <ul class="dropdown-menu pull-right flipInV">
                <li><a href="#"><i class="fa fa-circle text-danger"></i><span class="m-left-xs">忙碌</span></a>
                </li>
                <li><a href="#"><i class="fa fa-circle-o"></i><span class="m-left-xs">关闭聊天</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="title-block">
        Group Chat
    </div>
    <div class="content-block">
        <ul class="sidebar-list">
            <li>
                <a href="#">
                    <i class="fa fa-circle-o text-success"></i><span class="m-left-xs">好友</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-circle-o text-success"></i><span class="m-left-xs">商业</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="title-block">
        Favorites
    </div>
    <div class="content-block">
        <ul class="sidebar-list">
            <li>
                <a href="#" class="clearfix">
                    <img src="/assets/images/profile/profile2.jpg" class="img-circle" alt="user avatar">
                    <div class="chat-detail m-left-sm">
                        <div class="chat-name">
                            John Doe
                        </div>
                        <div class="chat-message">
                            Where are you?
                        </div>
                    </div>
                    <div class="chat-status">
                        <i class="fa fa-circle-o text-success"></i>
                    </div>
                    <div class="chat-alert">
                        <span class="badge badge-purple bounceIn animation-delay2">2</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="clearfix">
                    <img src="/assets/images/profile/profile3.jpg" class="img-circle" alt="user avatar">
                    <div class="chat-detail m-left-sm">
                        <div class="chat-name">
                            Jane Doe
                        </div>
                        <div class="chat-message">
                            Hello
                        </div>
                    </div>
                    <div class="chat-status">
                        <i class="fa fa-circle-o text-success"></i>
                    </div>
                    <div class="chat-alert">
                        <span class="badge badge-info bounceIn animation-delay2">1</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="clearfix">
                    <img src="/assets/images/profile/profile4.jpg" class="img-circle" alt="user avatar">
                    <div class="chat-detail m-left-sm">
                        <div class="chat-name">
                            John Doe
                        </div>
                        <div class="chat-message">
                            See you again next week.
                        </div>
                    </div>
                    <div class="chat-status">
                        <i class="fa fa-circle-o text-danger"></i>
                    </div>
                    <div class="chat-alert">
                        <i class="fa fa-check text-success"></i>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="clearfix">
                    <img src="/assets/images/profile/profile5.jpg" class="img-circle" alt="user avatar">
                    <div class="chat-detail m-left-sm">
                        <div class="chat-name">
                            John Doe
                        </div>
                        <div class="chat-message">
                            Hello, Are you there?
                        </div>
                    </div>
                    <div class="chat-status">
                        <i class="fa fa-circle-o text-danger"></i>
                    </div>
                    <div class="chat-alert">
                        <i class="fa fa-reply"></i>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="title-block">
        More friends
    </div>
    <div class="content-block">
        <ul class="sidebar-list">
            <li>
                <a href="#" class="clearfix">
                    <img src="/assets/images/profile/profile6.jpg" class="img-circle" alt="user avatar">
                    <div class="chat-detail m-left-sm">
                        <div class="chat-name">
                            John Doe
                        </div>
                        <div class="chat-message">
                            Where are you?
                        </div>
                    </div>
                    <div class="chat-status">
                        <i class="fa fa-circle-o text-success"></i>
                    </div>
                    <div class="chat-alert">
                        <span class="badge badge-success bounceIn animation-delay2">2</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="clearfix">
                    <img src="/assets/images/profile/profile7.jpg" class="img-circle" alt="user avatar">
                    <div class="chat-detail m-left-sm">
                        <div class="chat-name">
                            Jane Doe
                        </div>
                        <div class="chat-message">
                            Hello
                        </div>
                    </div>
                    <div class="chat-status">
                        <i class="fa fa-circle-o text-success"></i>
                    </div>
                    <div class="chat-alert">
                        <span class="badge badge-danger bounceIn animation-delay2">1</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="clearfix">
                    <img src="/assets/images/profile/profile8.jpg" class="img-circle" alt="user avatar">
                    <div class="chat-detail m-left-sm">
                        <div class="chat-name">
                            John Doe
                        </div>
                        <div class="chat-message">
                            See you again next week.
                        </div>
                    </div>
                    <div class="chat-status">
                        <i class="fa fa-circle-o text-danger"></i>
                    </div>
                    <div class="chat-alert">
                        <i class="fa fa-check text-success"></i>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="clearfix">
                    <img src="/assets/images/profile/profile9.jpg" class="img-circle" alt="user avatar">
                    <div class="chat-detail m-left-sm">
                        <div class="chat-name">
                            John Doe
                        </div>
                        <div class="chat-message">
                            Hello, Are you there?
                        </div>
                    </div>
                    <div class="chat-status">
                        <i class="fa fa-circle-o text-danger"></i>
                    </div>
                    <div class="chat-alert">
                        <i class="fa fa-reply"></i>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div><!-- sidebar-inner -->
